<div class="grid grid-pad">
    <div id="search">
            <form (keydown)="search(searchBox.value, $event)">
        <input class="form-control" type="text" #searchBox id="search-box" placeholder="Search memes">
        <span id="clear" *ngIf="searchBox.value" (click)="clear()" (click)='searchBox.value=""'>x</span>
            </form>

        <div class="row" class="d-inline-block">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Memes per page: {{count}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" (click)="selectPageSize(6)">6</button>
                        <button class="dropdown-item" (click)="selectPageSize(12)">12</button>
                        <button class="dropdown-item" (click)="selectPageSize(18)">18</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table>
        <tr class="col-1-3" *ngFor="let meme of filteredMemes | paginate: { itemsPerPage: count, currentPage: p }">
            <td>
                <div id="imageContainer">
                    <img src="{{meme.image}}">
                </div>
                <p id="description">{{meme.title}}</p>
                <a routerLink="/edit-meme/{{meme.id}}"><button id="edit">Edit</button></a>
                <button id="delete" (click)="deleteMeme(meme)">Delete</button>
            </td>
        </tr>
    </table>
</div>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>