<h1>Create meme</h1>
<div *ngIf="meme">
    <input type="text" [(ngModel)]="meme.title" placeholder="title">
    <p>Image</p>
    <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
    </div>

    <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)" #memeFile>
    </label>

    <button id="upload" class="btn btn-success" (click)="upload()">Upload</button>
    <button type="submit" id="edit" (click)="editMeme()" >Edit</button>
  </div>